// COLORS
$border-color: #bebebe;
$backgroud-color: #eee;
$body-color: #244751;
$nav-bar-color:  #00a087;
$nav-text-color: #e8fdff;
$error-text-color: #D8000C;
$error-box-color: #FFD2D2;

main .new-tweet {
  display: none;
  text-align: left;
  padding: 0.7em;
  background: $backgroud-color;
  border: solid 1px $border-color;
  border-radius: 0.3em;
  margin-left: 2em;
  margin-right: 2em;
}

main .new-tweet h2 {
  margin: 0;
}

main section form textarea {
  min-height: 5em;
  max-width: 100%;
  min-width: 100%;
  display: block;
  margin: 0;
  width: 100%;
  outline:none;
}

.new-tweet .flex {
  display: flex;
  justify-content: space-between; 
}

// button
main section form input {
  margin-top: 0.2em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border: 0.05em $border-color;
  border-radius: 0;
  border-style: solid;
  outline:none;
}

/* count */
main section form span {
  margin-top: 0.2em;
}

// horizontal line below h2
.new-tweet hr {
 height: 0.05em;
 border: 0;
 border-top: 0.05em solid $body-color;
 margin-left: 0.1em;
 margin-right: 0.1em;
 margin-top: 0.1em;
 margin-bottom: 1em;
 padding: 0;
}



.new-tweet:hover {
  opacity: 1;
}

// hovering over input button
#submit-new input:hover {
  background-color: $nav-bar-color;
  color: $nav-text-color;
}

// error messages
#validation1, #validation2 {
  justify-items: center;
  color: $error-text-color;
  background-color: $error-box-color;
  border-radius: 0.15em;
  padding: 0.1em 0.4em 0.1em 0.4em;
}

@media (min-width: 801px) {
  main section form input {
    opacity: 0.9;
  }
  .new-tweet {
    opacity: 0.8;
  }
}

 @media (max-width: 800px) {
  main section form input {
    opacity: 1;
  }
  .new-tweet {
    opacity: 1;
  }
}

