main .tweet {
  opacity: 0.8;
 text-align: left;
 /* padding: 0.7em; */
 border: solid 1px #bebebe;
 border-radius: 5px;
 margin-top: 2em;
 margin-left: 2em;
 margin-right: 2em;
}

main .tweet header {
 background: #eee;
 border-radius: 5px 5px 0px 0px;
 
}

.tweet .flex {
 display: flex;
 justify-content: space-between;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #bebebe;
}


.tweet .avatar {
 height: 35px;
 width: 35px;
 margin: 5px;
 justify-content: left;
 border-radius: 3px;
}

.tweet .user-name {
 margin-top: 3px;
}
.tweet .handle {
 margin-top: 8px;
 margin-right: 4px;
}

.tweet .time-stamp {
 line-height: 2em;
 padding-left: 8px;
 font-size: 0.8em;
}

.tweet .content {
 margin: 10px;
}

main .tweet:hover .social, main .tweet:hover {
  opacity: 1;
 }

.social img {
  height: 15px;
  width: 15px;
  margin: 3px;
}

.social {
  opacity: 0;
}
